{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
  <div class="row">
    
    <div class="col s12 m8">
      <ul class="collection with-header">
          <li class="collection-header"><i class="material-icons medium left">shopping_cart</i><h4>My Cart</h4></li>
          
             
          <li class="collection-item">
            <table class="highlight bordered"> 
              <thead>
                <tr>
                  <th data-field="name" colspan="2">Description</th>
                  <th data-field="quantity">Quantity</th>
                  <th data-field="total">Subtotal</th>
                </tr>
              </thead>
              <tbody>
                {% for cart_item in cart %}
                <tr>
                  <td width="50">
                    <img src="{{ cart_item.image }}" alt="" class="left" width="50">
                  </td>
                  <td>
                    $ {{ cart_item.price |floatformat:2}}<br />
                    <a class="red-text" href="/cart/qty/{{cart_item.id}}/-{{ cart_item.quantity }}"><i class="material-icons">delete</i></a>
                    </p>
                  </td>
                  <td>
                     <a class="white-text" href="/cart/qty/{{cart_item.id}}/-1"><i class="red material-icons">remove</i></a>
                      {{ cart_item.quantity }}
                      <a class="white-text" href="/cart/qty/{{cart_item.id}}/1"><i class="green material-icons">add</i></a><br>
                  </td>
                  <td>
                    ${{ cart_item.subtotal|floatformat:2 }}
                  </td>
                </tr>
                   {% endfor %}
              </tbody>
            </table>
          </li>
       
      </ul>
    </div>
    <div class="col s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content">
          <span class="card-title">Summary</span>
          <div class="card-panel">Total: <span class="right">$ {{total|floatformat:2}}</span></div>
        </div>
        <div class="card-action center">
         <a href="/checkout" class="btn waves-light waves-effect blue-grey lighten-1 white-text">Checkout</a>
        </div>
      </div>
      
    </div>
  </div>
        
     

{% endblock %}