{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m12">
            {% block checkout-summary %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title black-text">Order Confirmation</span>
                        <div class="card-panel">
                            <div class="row" style="margin-bottom: 0px">
                                <div class="col s1"><img src="{{ summary.desc_item.image }}" class="circle responsive-img"></div>
                                <div class="col s11"><a href="/product/{{summary.desc_item.id}}">{{summary.desc}}</a></div>
                            </div>
                        </div>
                        <ul class="collection">
                            <li class="collection-item">Subtotal: <span class="right">$ {{summary.total.sub|floatformat:2}}</span></li>
                            <li class="collection-item">Shipping: <span class="right">$ {{summary.total.shipping|floatformat:2}}</span></li>
                            <li class="collection-item">Total Paid: <span class="right">$ {{summary.total.total |floatformat:2}}</span></li>
                        </ul>
                        <div class="card-panel">
                            <span class="grey-text">Shipping To:</span>
                            {{summary.address | linebreaks}}
                        </div>
                        <div class="card-panel">
                            <p>Your order has been successfully placed.</p>
                            <p>You will receive a confirmation email shortly.</p>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}