{% extends "manager_base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
              <div class="col l1">
                  <a href="{{ category }}/new" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
        </div>
        <div class="row">
            {% for item in items %}
                <a href="{{ item.category_name }}/{{ item.id }}">
                    <div class="col l3 m3 s4">
                        <div class="card">
                            <div class="card-content">
                                <span>
                                    <img src="{{ item.preview_image.url }}" class="responsive-img circle">
                                </span>
                                <span>{{ item.name }}</span>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}