{% extends "manager_base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <button
        </div>
        <div class="row">
            {% for item in items %}
                <a href="categories/{{ item.name }}">
                    <div class="col l3 m3 s4">
                        <div class="card">
                            <div class="card-content">
                                <span>
                                    <img src="{{ item.preview_image.url }}" class="responsive-img circle">
                                </span>
                                <span>{{ item.name }}</span>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}