{% extends "manager_base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for order in orders %}
                <a href="order/{{ order.id }}">
                    <div class="col l3 m3 s4">
                        <div class="card">
                            <div class="card-content">
                                <span>
                                    <img src="{{ order.preview_image.url }}" class="responsive-img circle">
                                </span>
                                <span class="card-title black-text">
                                    Order #{{ order.id }}
                                </span>
                                <ul class="collection">
                                    <li class="collection-item">Customer: {{ order.customer }}</li>
                                    <li class="collection-item">{{ order.desc }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}