{% extends 'manager_base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        {% if new %}
            <form class="col s12" action="new" method="post" enctype="multipart/form-data">
        {% else %}
            <form class="col s12" action="" method="post" enctype="multipart/form-data">
        {% endif %}
            {% csrf_token %}
            <div class="row">
                {% if form.instance.preview_image %}
                    <img src="{{ form.instance.preview_image.url }}" class="responsive-img circle col" style="margin-top:15px">
                {% endif %}
                <div class="col s2"></div>
                {% if success %}
                    <h3 class="col s5 grey-text">{{ success }}</h3>
                {% endif %}
            </div>
            <div class="divider"></div>
            <div class="row section">
                <h5 class="grey-text">Basic Info</h5>
                <div class="input field col s6">
                    {{ form.name.errors }}
                    {{ form.name }}
                    {{ form.name.label_tag }}
                </div>
                <div class="input field col s6">
                    {{ form.description.errors }}
                    {{ form.description }}
                    {{ form.description.label_tag }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    {{ form.price.errors }}
                    {{ form.price }}
                    {{ form.price.label_tag }}
                </div>
                <div class="input field col s2">
                    {{ form.on_hand.errors }}
                    {{ form.on_hand }}
                    {{ form.on_hand.label_tag }}
                </div>
                <div class="input field col s2">
                    {{ form.production_time.errors }}
                    {{ form.production_time }}
                    {{ form.production_time.label_tag }}
                </div>
                <div class="input-field col s6">
                    Category: {{ category }}
                </div>
            </div>
            <div class="divider"></div>
            <div class="row section">
                <h5 class="grey-text">Images</h5>
                <div class="col s4">
                    {{ form.image1.errors }}
                    {{ form.image1.label_tag }}
                    {% if form.instance.image1 %}
                        <img src="{{ form.instance.image1.url }}" class="responsive-img"/>
                    {% endif %}
                    {{ form.image1 }}
                </div>
                <div class="col s4">
                    {{ form.image2.errors }}
                    {{ form.image2.label_tag }}
                    {% if form.instance.image2 %}
                        <img src="{{ form.instance.image2.url }}" class="responsive-img"/>
                    {% endif %}
                    {{ form.image2 }}
                </div>
                <div class="col s4">
                    {{ form.image3.errors }}
                    {{ form.image3.label_tag }}
                    {% if form.instance.image3 %}
                        <img src="{{ form.instance.image3.url }}" class="responsive-img"/>
                    {% endif %}
                    {{ form.image3 }}
                </div>
                <div class="col s4">
                    {{ form.image4.errors }}
                    {{ form.image4.label_tag }}
                    {% if form.instance.image4 %}
                        <img src="{{ form.instance.image4.url }}" class="responsive-img"/>
                    {% endif %}
                    {{ form.image4 }}
                </div>
                <div class="col s4">
                    {{ form.image5.errors }}
                    {{ form.image5.label_tag }}
                    {% if form.instance.image5 %}
                        <img src="{{ form.instance.image5.url }}" class="responsive-img"/>
                    {% endif %}
                    {{ form.image5 }}
                </div>
            </div>
            <div class="divider"></div>
            <div class="row section">
                <h5 class="grey-text">Packaging information</h5>
                <div class="col s5">
                    <span class="grey-text">Package Size</span>
                    {{ form.packaging }}
                </div>
                <div class="input-field col s2">
                    {{ form.weight.errors }}
                    {{ form.weight }}
                    {{ form.weight.label_tag }}
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <span>Custom Size in inches</span>
                </div>
                <div class="col s2">
                    {{ form.custom_depth.errors }}
                    {{ form.custom_depth }}
                    {{ form.custom_depth.label_tag }}
                </div>
                <div class="col s2">
                    {{ form.custom_height.errors }}
                    {{ form.custom_height }}
                    {{ form.custom_height.label_tag }}
                </div>
                <div class="col s2">
                    {{ form.custom_width.errors }}
                    {{ form.custom_width }}
                    {{ form.custom_width.label_tag }}
                </div>
            </div>
            <div class="row">
                <input type="submit" value="submit">
            </div>
        </form>
    </div>
</div>
<script>
    document.getElementById("id_packaging").className = "browser-default";
</script>
{% endblock %}